name: Solar System Workflow

on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'
env:
  MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'  
  MONGO_USERNAME: ${{vars.MONGODB_USER}}
  MONGO_PASSWORD: ${{secrets.MONGODB_PASSWORD}}  
jobs:
    unit-testing:
        name: Unit Testing
        strategy:
          matrix:
            operating-system: [ubuntu-latest, windows-latest]
            
        runs-on: ${{matrix.operating-system}}
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version 
          uses: actions/setup-node@v4
          with:
            node-version: 18
    
        - name: Install Dependencies
          run: npm install
    
        - name: Unit Testing
          run: |
            npm test
            echo "linux"
          
        - name: Archive Test Result
          
          uses: actions/upload-artifact@v4
          with:
            name: Mocha-Test-Result-${{matrix.operating-system}}
            path: test-results.xml 
    code-coverage:
        name: Code Coverage
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version
          uses: actions/setup-node@v4
          with:
            node-version: 18
    
        - name: Install Dependencies
          run: npm install
    
        - name: Run Code Coverage
          
          run: npm run coverage
    
        - name: archieve Code Coverage Report
          uses: actions/upload-artifact@v4
          with:
            name: Code-Coverage-Report
            path: coverage
            retention-days: 1

